.IndexPage__body {
  margin: auto;
  background: rgba(158, 53, 116, 0.28);
  width: 900px;
  min-height: 850px;
  height: 100vh;
  -webkit-box-shadow: 1px 1px 22px 12px rgba(156, 103, 103, 0.75);
  -moz-box-shadow: 1px 1px 22px 12px rgba(156, 103, 103, 0.75);
  box-shadow: 1px 1px 22px 12px rgba(156, 103, 103, 0.75);
}

.IndexPage__header {
  background: #e87272;
  width: 700px;
  height: 100px;
  display: inline-block;
  margin: 20px 0 0 100px;
  border: 10px solid #E9D9FF;
  border-radius: 20px;
}

.first_raw_text {
  font-size: 4rem;
  padding-left: 50px;
  font-family: cursive;
  font-weight: bold;
  color: #fff;
  float: left;
}

.second_raw_text {
  color: rgba(251, 191, 197, 0.71);
  font-size: 1.1rem;
  font-weight: 600;
  display: inline-block;
  padding-top: 70px;
}

.logo {
  width: 100px;
  border-radius: 100%;
  height: 100px;
  float: right;
  padding: 10px;
  box-sizing: border-box;
}

.IndexPage__informationBlock {
  background: #e87272;
  width: 300px;
  box-sizing: border-box;
  margin: 30px 0 0 100px;
  height: 450px;
  padding: 50px;
  border: 10px double #E9D9FF;
  float: left;
  color: white;
  overflow: auto;
}

@media (max-width: 500px) { 
  .IndexPage__informationBlock {
    font-size: 14px;
  }
}

.divBlock {
  width: 40px;
  height: 450px;
  margin: 30px 0 -94px 25px;
  background: rgb(255, 102, 93);
  display: inline-block;
  border: 10px solid rgba(233, 217, 255, 0.72);
}

.IndexPage__slider {
  display: inline-block;
}

.sliderImg {
  width: 300px;
  height: 450px;
  margin: 30px 0 -100px 25px;
  border: 10px double #E9D9FF;
  box-sizing: border-box;
}

.dots {
 margin-left: 145px; 
}

.dot {
 height: 20px;
 width: 20px;
 background: rgba(255, 255, 255, 0.62);
 border-radius: 50%;
 display: inline-block;
 margin: 3px;
 cursor: pointer;
}

.dot_active {
 height: 20px;
 width: 20px;
 background: #E87272;
 border-radius: 50%;
 display: inline-block;
 margin: 3px;
 cursor: pointer;
}

.blureLine {
  width: 600px;
  height: 2px;
  background: rgb(191, 115, 115);
  margin: 170px auto auto auto;
  -webkit-box-shadow: -2px 0px 96px 24px rgb(255, 223, 233);
  -moz-box-shadow: -2px 0px 96px 24px rgb(255, 223, 233);
  box-shadow: -2px 0px 96px 24px rgb(255, 223, 233);
}

.registerButton {
  display: block;
  margin: 20px auto;
  width: 300px;
  height: 35px;
  background: rgba(232, 114, 114, 0.4);
  border: 1px solid #BF7373;
  cursor: pointer;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  transition: 0.7s;
}

.registerButton:hover {
    background: rgb(232, 114, 114);
    border: 3px solid #FFD9E2;
}

.loginButton {
  display: block;
  margin: 10px auto;
  width: 100px;
  background: rgb(232, 114, 114);
  border: 1px solid #BF7373;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.53);
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.7s;
}

.loginButton:hover {
  background: rgb(232, 79, 79);
  border: 2px solid #FBECEC;
  color: rgb(255, 255, 255);
}


.IndexPage__registerModal {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
}

.registerFormContainer {
  width: 800px;
  margin: 300px auto;
  background: #E64D4D;
  border: 10px solid #D6C1C7;
  border-radius: 30px;
}

.labelSignUp {
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

.labelToolTip {
  text-align: center;
  font-size: 0.8rem;
  color: rgba(238, 232, 170, 0.47);
}

.labelEmail, .labelUsername, .labelPassword {
  display: block;
  margin: 10px 0 0 230px;
  color: white;
  font-family: monospace;
  font-size: 1.2rem;
  border-bottom: 2px solid white;
}

.labelEmail {
  margin-right: 515px;
}

.labelUsername {
  margin-right: 485px;
}

.labelPassword {
  margin-right: 480px;
}

.modalInput {
  display: block;
  width: 350px;
  color: white;
  margin: 10px 0 0 230px;
  background: rgba(150, 150, 150, 0.85);
  border: 2px solid white;
  padding: 5px;
}

.confirmText {
  padding: 10px 0 0 234px;
  color: rgb(255, 153, 125);
}

.confirmLink {
  color: wheat;
}

.clearfix {
  width: 400px;
  margin: 10px auto;
  padding-left: 20px;
}

.cancelButton, .signupButton {
  width: 200px;
  padding: 2px;
  background: #F7F7F7;
  color: #E64D4D;
  cursor: pointer;
  font-family: fantasy;
  letter-spacing: 4px;
}

.cancelButton {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.signupButton {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.errorBox {
  width: 600px;
  margin: 10px auto;
  background: whitesmoke;
  padding: 10px;
  font-size: 0.8rem;
  border: 2px solid #a18a8a; 
}

.errorParagraph {
  background: wheat;
  color: firebrick;
  text-align: center;
  padding: 3px;
  margin: 5px;
  font-weight: bold;
}