.Playground__body {
  width: 1200px;
  height: 740px;
  background: #ffd9e2;
  margin: 70px auto;
  border: 10px solid rgb(255, 102, 93);
  border-radius: 20px;
  -webkit-box-shadow: -1px 14px 48px 54px rgba(212, 72, 140, 0.38);
  -moz-box-shadow: -1px 14px 48px 54px rgba(212, 72, 140, 0.38);
  box-shadow: -1px 14px 48px 54px rgba(212, 72, 140, 0.38);
}

.Playground__frame {
  float: left;
  width: 67%;
  height: 100%;
  box-sizing: border-box;
  background: rgb(255, 153, 125);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.Playground__userInformationBlock {
  float: right;
  width: 33%;
  box-sizing: border-box;
  height: 100%;
  background: firebrick;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 10px solid #ff665d;
}

.userAvatarImg {
  display: block;
  margin: 30px auto;
  border: 5px solid #fbbfc5;
  border-radius: 50%;
  width: 50%;
}

.usernameHeading {
  text-align: center;
  display: block;
  background: rgb(251, 191, 197);
  color: rgb(197, 90, 158);
  width: 50%;
  margin: auto;
  padding: 5px 0;
  font-size: 2rem;
  border-radius: 10px;
  font-family: sans-serif;
}

.userDataBlock {
  background: #ff4053;
  padding: 10px;
  width: 60%;
  margin: 20px auto;
  border-radius: 30%;
  border: 5px solid rgba(251, 191, 197, 0.35);
}

.coinsUserData, .petsUserData {
  text-align: center;
  display: block;
  background: rgb(140, 16, 16);
  color: wheat;
  width: 50%;
  margin: 10px auto;
  padding: 5px 0;
  font-size: 0.8rem;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 700;
}

.buttonPlaygroundFrame, .buttonInventory, .buttonIngameShop, .buttonWorldMarket, .buttonUsersTop {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 5px;
  background: #69031f;
  border: 10px solid #ff4053;
  color: rgb(255, 23, 23);
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.buttonPlaygroundFrame {
  border-top-left-radius: 50%;
}

.buttonUsersTop {
  border-bottom-right-radius: 50%;
}

.Playground__frame__inventory {
  height: 100%; 
}

.inventoryCell {
  box-sizing: border-box;
  width: calc(20% - 20px);
  background: #dcbfbf;
  float: left;
  height: calc(20% - 20px);
  margin: 10px;
  border: 10px solid rgba(82, 53, 72, 0.63);
}

.activeButton {
  background: #fff2f5;
  animation-name: colorIntoActiveButton;
  animation-duration: 1s;
}

@keyframes colorIntoActiveButton {
  0% {
    background: #69031f;
  }
  
  100% {
    background: #fff2f5;
  }
}

.inactiveButton {
  background: #69031f;
  animation-name: colorIntoinactiveButton;
  animation-duration: 1s;
}

@keyframes colorIntoinactiveButton {
  0% {
    background: #fff2f5;
  }
  
  100% {
    background: #69031f;
  }
}

.Playground__frames__BoxOpenModal, .Playground__frames__PetInterfaceModal {
  position: fixed;
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}


.Playground__frames__BoxOpenModal__innerContent, .Playground__frames__PetInterfaceModal__innerContent{
  width: 900px;
  background: #9a848e;
  margin: 150px auto auto auto;
  padding: 20px;
  min-height: 500px;
  border: 20px rgba(226, 210, 213, 0.22);
  border-style: dotted solid;
  border-radius: 170px;
  box-sizing: border-box;
}

.Playground__frames__BoxOpenModal__innerContent h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 5px solid #ffdead;
  color: beige;
  padding: 10px;
  background: rgb(222, 43, 84);
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.Playground__frames__BoxOpenModal__innerContent .boxContainer {
  background: rgba(220, 220, 220, 0.18);
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  margin: 10px auto;
}

.Playground__frames__BoxOpenModal__innerContent p {
    text-align: center;
    color: beige;
    background: rgba(82, 78, 68, 0.31);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
}

.Playground__frames__BoxOpenModal__innerContent .inputContainer {
  background: rgba(194, 180, 183, 0.3);
  margin: 20px auto;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.Playground__frames__BoxOpenModal__innerContent input {
  width: 50%;
  padding: 5px;
  margin: auto;
  display: block;
  background: rgba(241, 73, 73, 0.35);
  border: 1px solid white;
  color: white; 
}

.Playground__frames__BoxOpenModal__innerContent label {
  display: block;
  padding: 5px;
  text-align: center;
  color: white;
}

.Playground__frames__BoxOpenModal__innerContent button {
  width: 40%;
  display: block;
  margin: 10px auto;
  border: 1px solid #ffdead;
  color: beige;
  padding: 10px;
  background: rgb(222, 43, 84);
  cursor: pointer;
  font-size: 1rem;
}

.loadingErrorBox {
  margin: 300px auto;
  text-align: center;
  background: wheat;
  width: 400px;
  height: 48px;
  padding: 10px;
  border: 10px double lightslategray;
  color: firebrick;
  font-weight: bold;
  font-size: 2rem;
  font-family: monospace;
}

.emptyPetsFrame {
  text-align: center;
  background: salmon;
  color: whitesmoke;
  margin: 300px auto;
  width: 500px;
  padding: 10px;
  border: 10px double antiquewhite;
  font-size: 2rem;
  font-family: fantasy;
}

.constructedDropFromBoxContainer {
  width: 400px;
  height: 300px;
  margin: 10px auto;
  background: rgba(12, 11, 11, 0.09); 
}

.petInModal {
  margin: auto;
  padding-top: 100px;
  width: 120px;
}

.petInterface--label {
  text-align: center;
  font-size: 2rem;
  width: 300px;
  background: rgba(74, 74, 74, 0.32);
  margin: 5px 0 5px 100px;
  padding: 5px;
  border-radius: 10%;
  color: #e2e2e2;
  font-family: monospace; 
}

.petInterface--petContainer {
  width: 160px;
  margin: 5px 0 5px 50px;
}

.petInterfaceROW--first, .petInterfaceROW--second, .petInterfaceROW--third {
  display: block; 
}

.petInterface--specialist, 
.petInterface--sex, 
.petInterface--rarity, 
.petInterface--defense, 
.petInterface--attack, 
.petInterface--happinessPoints, 
.petInterface--hitPoints, 
.petInterface--waterPoints,
.petInterface--foodPoints,
.petInterface--birthdate {
  background: rgba(255, 29, 206, 0.08);
  display: inline-block;
  padding: 8px;
  border-radius: 30%;
  color: rgb(255, 255, 255);
  margin-right: 10px;
}
