.Playground__body {
  width: 1200px;
  height: 867px;
  background: #ffd9e2;
  margin: 40px auto;
  border: 10px solid rgb(255, 102, 93);
  border-radius: 20px;
  -webkit-box-shadow: -1px 14px 48px 54px rgba(212, 72, 140, 0.38);
  -moz-box-shadow: -1px 14px 48px 54px rgba(212, 72, 140, 0.38);
  box-shadow: -1px 14px 48px 54px rgba(212, 72, 140, 0.38);
}

.Playground__frame {
  float: left;
  width: 67%;
  height: 100%;
  box-sizing: border-box;
  background: rgb(255, 153, 125);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px
}

.Playground__userInformationBlock {
  float: right;
  width: 33%;
  box-sizing: border-box;
  height: 100%;
  background: firebrick;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 10px solid #ff665d;
}

.userAvatarImg {
  display: block;
  margin: 30px auto;
  border: 5px solid #fbbfc5;
  border-radius: 50%;
  width: 50%;
}

.usernameHeading {
  text-align: center;
  display: block;
  background: rgb(251, 191, 197);
  color: rgb(197, 90, 158);
  width: 50%;
  margin: auto;
  padding: 5px 0;
  font-size: 2rem;
  border-radius: 10px;
  font-family: sans-serif;
}

.userDataBlock {
  background: #ff4053;
  padding: 10px;
  width: 60%;
  margin: 20px auto;
  border-radius: 30%;
  border: 5px solid rgba(251, 191, 197, 0.35);
}

.coinsUserData, .petsUserData, .axiomsUserData {
  text-align: center;
  display: block;
  background: rgb(140, 16, 16);
  color: wheat;
  width: 50%;
  margin: 10px auto;
  padding: 5px 0;
  font-size: 0.8rem;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: 700;
}

.xpUserDataContainer {
  background: rgba(140, 16, 16, 0.37);
  color: rgb(228, 222, 179);
  width: 50%;
  height: 22px;
  margin: 10px auto;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.xpUserDataBar {
  font-size: 0.8rem;
  height: 100%;
  background: firebrick;
  position: absolute;
}

.xpUserDataText {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: sans-serif;
  position: absolute;
  z-index: 1;
}

.buttonPlaygroundFrame, .buttonInventory, .buttonIngameShop, .buttonWorldMarket, .buttonArena, .buttonUsersTop {
  display: block;
  width: 60%;
  margin: 10px auto;
  padding: 5px;
  background: #69031f;
  border: 10px solid #ff4053;
  color: rgb(255, 23, 23);
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.buttonPlaygroundFrame:hover, .buttonInventory:hover, .buttonIngameShop:hover, .buttonWorldMarket:hover, .buttonArena:hover, .buttonUsersTop:hover {
  box-shadow: inset 2px 0px 70px -13px rgba(255,255,255,1);
}

.buttonPlaygroundFrame {
  border-top-left-radius: 50%;
}

.buttonUsersTop {
  border-bottom-right-radius: 50%;
}

.Playground__frame__inventory {
  height: calc(100% - 20px);
  margin-top: 20px; 
}

.inventoryCell {
  box-sizing: border-box;
  width: 140.8px;
  background: #dcbfbf;
  float: left;
  height: 128px;
  margin: 10px;
  border: 10px solid rgba(82, 53, 72, 0.63);
}

.activeButton {
  background: #fff2f5;
  animation-name: colorIntoActiveButton;
  animation-duration: 1s;
}

@keyframes colorIntoActiveButton {
  0% {
    background: #69031f;
  }
  
  100% {
    background: #fff2f5;
  }
}

.inactiveButton {
  background: #69031f;
  animation-name: colorIntoinactiveButton;
  animation-duration: 1s;
}

@keyframes colorIntoinactiveButton {
  0% {
    background: #fff2f5;
  }
  
  100% {
    background: #69031f;
  }
}

.Playground__frames__BoxOpenModal, .Playground__frames__PetInterfaceModal {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
}


.Playground__frames__BoxOpenModal__innerContent, .Playground__frames__PetInterfaceModal__innerContent{
  width: 900px;
  background: #9a848e;
  margin: 90px auto auto auto;
  padding: 20px;
  min-height: 500px;
  border: 20px rgba(226, 210, 213, 0.22);
  border-style: dotted solid;
  border-radius: 170px;
  box-sizing: border-box;
}

.Playground__frames__BoxOpenModal__innerContent h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 5px solid #ffdead;
  color: beige;
  padding: 10px;
  background: rgb(222, 43, 84);
  width: 60%;
  margin: auto;
  border-radius: 10px;
}

.Playground__frames__BoxOpenModal__innerContent .boxContainer {
  background: rgba(220, 220, 220, 0.18);
  padding: 10px;
  border-radius: 10px;
  width: 70%;
  margin: 10px auto;
}

.Playground__frames__BoxOpenModal__innerContent p {
    text-align: center;
    color: beige;
    background: rgba(82, 78, 68, 0.31);
    width: 50%;
    margin: auto;
    border-radius: 10px;
    padding: 5px;
}

.Playground__frames__BoxOpenModal__innerContent .inputContainer {
  background: rgba(194, 180, 183, 0.3);
  margin: 20px auto;
  width: 70%;
  padding: 10px;
  border-radius: 10px;
}

.Playground__frames__BoxOpenModal__innerContent input {
  width: 50%;
  padding: 5px;
  margin: auto;
  display: block;
  background: rgba(241, 73, 73, 0.35);
  border: 1px solid white;
  color: white; 
}

.Playground__frames__BoxOpenModal__innerContent label {
  display: block;
  padding: 5px;
  text-align: center;
  color: white;
}

.Playground__frames__BoxOpenModal__innerContent button {
  width: 40%;
  display: block;
  margin: 10px auto;
  border: 1px solid #ffdead;
  color: beige;
  padding: 10px;
  background: rgb(222, 43, 84);
  cursor: pointer;
  font-size: 1rem;
}

.loadingErrorBox {
  margin: 300px auto;
  text-align: center;
  background: wheat;
  width: 400px;
  height: 48px;
  padding: 10px;
  border: 10px double lightslategray;
  color: firebrick;
  font-weight: bold;
  font-size: 2rem;
  font-family: monospace;
}

.emptyPetsFrame {
  text-align: center;
  background: salmon;
  color: whitesmoke;
  margin: 300px auto;
  width: 500px;
  padding: 10px;
  border: 10px double antiquewhite;
  font-size: 2rem;
  font-family: fantasy;
}

.constructedDropFromBoxContainer {
  width: 400px;
  height: 300px;
  margin: 10px auto;
  background: rgba(12, 11, 11, 0.09); 
}

.petInModal {
  margin: auto;
  padding-top: 100px;
  width: 120px;
}

.petInterface--label {
  text-align: center;
  font-size: 2rem;
  width: 300px;
  background: rgba(74, 74, 74, 0.32);
  margin: 5px 0 5px 100px;
  padding: 5px;
  border-radius: 10%;
  color: #e2e2e2;
  font-family: monospace; 
}

.petInterface--petContainer {
  width: 150px;
  float: left;
  height: 100px;
  margin: 5px 0 5px 50px;
}

.petInterfaceROW--first, .petInterfaceROW--second, .petInterfaceROW--third {
  display: block; 
}

.petInterfaceROW--third {
  margin-left: 50px;
}

.petInterface--specialist, 
.petInterface--sex, 
.petInterface--rarity, 
.petInterface--defense, 
.petInterface--attack, 
.petInterface--happinessPoints, 
.petInterface--hitPoints, 
.petInterface--waterPoints,
.petInterface--foodPoints,
.petInterface--birthdate {
  background: rgba(222, 43, 84, 0.62);
  display: inline-block;
  padding: 15px;
  border-radius: 30%;
  color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 10px;
}

.petInterface--dead {
  background: rgba(0, 0, 0, 0.58);
  color: floralwhite;
  font-size: 1.3rem;
  width: 200px;
  margin: auto;
  text-align: center;
  padding: 10px;
  border: 10px double;
}

.petInterface--dead button {
  border: 1px solid floralwhite;
  background: whitesmoke;
  font-weight: bold;
  cursor: pointer;
}

.petInterface--waterPoints, .petInterface--foodPoints {
  padding-top: 30px;
}

.Playground__frame__ingameShop {
  height: 100%;
}

.TAB--keysAndBoxes, .TAB--foodAndWater {
  width: 20%;
  height: 5%;
  padding: 12px;
  background: #63565f;
  color: #ffd1d1;
  float: left;
  text-align: center;
  box-sizing: border-box;
  font-weight: bold;
  font-family: sans-serif;
  cursor: pointer;
  border-right: 10px solid #c1c1c1;
  transition: 1s;
}

.TAB--keysAndBoxes:hover, .TAB--foodAndWater:hover {
  box-shadow: inset -2px -2px 27px 7px rgba(242,8,101,1);
}

.TAB--keysAndBoxes {
 border-top-left-radius: 9px; 
}

.ingameShopInteractionArea {
  width: 100%;
  height: 95%;
  background: rgb(99, 86, 95);
  float: left;
  border-bottom-left-radius: 9px;
  box-sizing: border-box;
  border-top: 10px solid #c1c1c1; 
}

.axiomsOrCoinsChooser {
  float: left;
  width: 60%;
  height: 5%;
  background: #63565f;
  box-sizing: border-box;
  color: #ffd1d1;
  font-size: 1.5rem;
  text-align: right;
  padding: 8px 50px;
}

.coinsChooser {
  display: inline;
  cursor: pointer;
  background: rgb(35, 31, 34);
  border-radius: 30px;
  margin-left: 5px;
  padding-right: 5px;
  color: #c1c1c1;
  transition: 1s;
}

.axiomsChooser {
  display: inline-block;
  cursor: pointer;
  background: rgb(35, 31, 34);
  border-radius: 30px;
  padding: 0 5px;
  margin: 0 5px 0 10px;
  color: #c1c1c1;
  transition: 1s;
}

.coinsChooser:hover, .axiomsChooser:hover {
  box-shadow: inset -2px -2px 64px -13px rgba(242,8,101,1);
}


.activeChoser {
  background: #ff005e;
  color: #ffebbb;
}

.currentIngameShopInteractionArea {
  background: rgb(150, 35, 77);
  color: #f5f5f5;
}

.ingameShopCell {
  width: 25%;
  margin: 20px;
  float: left;
  background: rgb(255, 208, 212);
  box-sizing: border-box;
  border: 5px dashed #63565f; 
}

.ingameShopItem {
  margin: 30px;
  cursor: default;
}

p.descriptionIngameShopItem {
  text-align: center;
  font-weight: bold;
  font-size: .7rem;
  font-family: sans-serif;
  color: rgb(99, 86, 95);
  margin-bottom: 10px;
}

button.buyIngameShopItemButton {
  width: 70%;
  margin: 5px auto 10px auto;
  display: block;
  background: #f5f5f5;
  color: #63565f;
  border: 3px double #96234d;
  font-weight: bold;
  padding: 3px;
  cursor: pointer;
  transition: 0.5s;
}

button.buyIngameShopItemButton:hover {
  background: #ff005e;
  color: floralwhite;
  border: 3px double ivory;
}

.errorAlertModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 2;
  background: rgba(255, 0, 0, 0.34);
}

.errorAlertModal div {
  width: 400px;
  height: 100px;
  margin-top: 300px;
  margin-left: 570px;
  background: white;
  border: 10px double #98393f;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
  color: firebrick;
  font-size: 1.2rem;
  font-weight: bold;
}

.errorAlertModal button {
  cursor: pointer;
  display: block;
  margin: 5px auto;
  background: firebrick;
  color: white;
  padding: 4px 10px;
  border: 1px solid #98393f;
}

.disabledBuyButton {
 background: black !important;
}

.Playground__frame__arena {
  height: 100%;
  width: 100%;
}

.Playground__frame__arena .topContainer {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}

.Playground__frame__arena .topContainer p { 
  text-align: center;
  padding: 10px;
  color: #674f51;
}

.Playground__frame__arena .bottomContainer {
  width: 100%;
  height: 70%;
  box-sizing: border-box;
}

.Playground__frame__arena .topContainer .buttonPVP, .buttonPVE {
  width: 200px;
  height: 50px;
  box-sizing: content-box;
  border: 0;
  border-bottom: 10px solid rgba(82, 60, 60, 0.57);
  font-size: 2rem;
  color: white;
  background: firebrick;
  cursor: pointer;
  font-weight: bold;
  transition: 0.9s;
}

.Playground__frame__arena .topContainer .buttonPVP {
  border-right: 5px solid #dedede;
  border-top: 5px solid rgb(178, 34, 34);
  border-left: 5px solid rgb(178, 34, 34);
  margin-left: calc(50% - 222px);
  margin-top: 60px;
}

.Playground__frame__arena .topContainer .buttonPVP:hover {
  border-bottom: 10px solid rgb(204, 164, 164);
  border-top: 5px solid rgb(193, 177, 177);
  border-left: 5px solid rgb(193, 177, 177);
  background: #ea1d1d;
  color: #523b42;
}

.Playground__frame__arena .topContainer .buttonPVE {
  border-left: 5px solid #dedede;
  border-top: 5px solid rgb(178, 34, 34);
  border-right: 5px solid rgb(178, 34, 34);
}

.Playground__frame__arena .topContainer .buttonPVE:hover {
  border-bottom: 10px solid rgb(204, 164, 164);
  border-top: 5px solid rgb(193, 177, 177);
  border-right: 5px solid rgb(193, 177, 177);
  background: #ea1d1d;
  color: #523b42;
}

.Playground__frame__arena .bottomContainer .lastArenaBattlesLogsContainer, .chooserOfPetForArenaBattleContainer {
  width: 90%;
  box-sizing: border-box;
  background: rgb(111, 101, 101);
  height: calc(100% - 70px);
  margin: 20px 30px;
  overflow-y: scroll;
  position: relative;
}

.Playground__frame__arena .bottomContainer .lastArenaBattlesLogsContainer {
  border-left: 20px dotted whitesmoke;
  float: left;
}

.Playground__frame__arena .bottomContainer .chooserOfPetForArenaBattleContainer {
  border-right: 20px double whitesmoke;
  float: right;
  direction: rtl;
}

.floatLeftContainter {
  float: left;
  width: 50%;
  height: 100%;
}

.floatRightContainter {
  float: right;
  width: 50%;
  height: 100%;
}

.lastArenaBattlesLogsHeader, .chooserOfPetForArenaBattleHeader {
  text-align: center;
  font-size: 2rem;
  color: #63565f;
}

.lastArenaBattlesLogsHeader {
  text-shadow: 2px 2px 25px #22b25c;
}

.chooserOfPetForArenaBattleHeader {
  text-shadow: 2px 2px 25px #ff4053;
}

.chooserOfPetForArenaBattleContainer .petArenaCard {
  width: 100%;
  height: 35%;
  padding: 10px;
  box-sizing: border-box;
  transition: 1s;
}

.chooserOfPetForArenaBattleContainer .containerForPet {
  margin: auto;
}

.chooserOfPetForArenaBattleContainer .activePetName {
  color: #f50368 !important;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #fdfdfd, 0 0 15px rgb(0, 0, 0), 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000 !important;
}

.chooserOfPetForArenaBattleContainer h3.petName {
  text-align: center;
  width: 150px;
  margin: auto;
  font-size: 2rem;
  font-family: fantasy;
  color: #2b2a2a;
  margin-top: 15px;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ff4053, 0 0 30px #ff4053, 0 0 40px #ff4053, 0 0 55px #ff4053, 0 0 75px #ff4053;
  cursor: pointer;
  transition: 0.8s;
}

.chooserOfPetForArenaBattleContainer h3.petName:hover {
  color: #f50368;
  text-shadow: 0 0 5px #ffffff, 0 0 10px #fdfdfd, 0 0 15px rgb(0, 0, 0), 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000, 0 0 55px #000000, 0 0 75px #000000;
}

.chooserOfPetForArenaBattleContainer .chosenPetCard {
  transform: scale(2);
  background: firebrick;
  height: 320px;
  position: absolute;
  left: 0;
}

button.chooseAnotherPetButton {
  display: none;
  margin: auto;
  width: 80px;
  font-size: 0.5rem;
  margin-top: 15px;
}

div.arenaDisbeingContainer {
  text-align: center;
  padding: 10px;
  background: floralwhite;
  margin: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family: fantasy;
}

button.disabledPVPorPVEButton {
  color: #904e4e;
  background: rgba(178, 34, 34, 0.45);
}