#loadingbox {
	transform: scale(1.8);
  padding-top: 200px;
  width: 93px;
  margin: 0 auto;
}

#loadingbox h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #635c5c;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: cursive;
}

.circle{
	border-radius: 50%;
}

#out {
	background-color: #635c5c;
	position: relative;
	height: 81px;
	width: 81px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    inset 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:         inset 0px 0px 5px 0px rgba(50, 50, 50, 0.3);
}

#in {
	background-color: #ff4053;
	position: absolute;
	height: 51px;
	width: 51px;
	margin: 15px; 
	top: 0px;
	z-index: 2;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:     0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	box-shadow:          0px 0px 5px 0px rgba(50, 50, 50, 0.3);
	font-size: 30px;
	text-align: center;
	color: darkgray;
}

#in::after {
	content: "...";
	-webkit-animation: points linear 1s infinite;
	animation: points linear 1s infinite;
	overflow: hidden;
	display: inline-block;
	width: 0%;
  color: #fff2f5;
}

#quarterbox {
	position: absolute;
	height: 81px;
	width: 81px;
	-webkit-animation: loading linear 1s infinite;
	animation: loading linear 1s infinite;
}

#quarter {
	background-color: rgb(255, 120, 220);
	height: 41px;
	width: 41px;
	position: absolute;
	border-radius: 100px 0 0 0;
   	-moz-border-radius: 100px 0 0 0;
     	-webkit-border-radius: 100px 0 0 0;
	-webkit-animation: quarter linear 1s infinite;
	animation: quarter linear 1s infinite;
}

@-webkit-keyframes loading {
	0%{
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(36deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes points {
	0%{
		width: 0%;
	}
	33%{
		width: 20%;
	}
	66%{
		width: 50%;
	}
	100%{
		width: 100%;
	}
}

@-webkit-keyframes quarter{
	50%{
		background-color: #fff2f5;
	}
	100%{
		background-color: #fff2f5;
	}
}

@keyframes loading {
	0%{
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	100%{
		-moz-transform: rotate(36deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

@keyframes points {
	0%{
		width: 0%;
	}
	33% {
		width: 20%;
	}
	66% {
		width: 50%;
	}
	100% {
		width: 100%;
	}
}

@keyframes quarter {
	50%{
		background-color: #fff2f5;
	}
	100%{
		background-color: #fff2f5;
	}
}

.inventoryTooltip {
  position: absolute;
  z-index: 9;
  border: 2px solid #fe6d7b;
  border-radius: 50px;
  width: 130.8px;
  background: rgb(255, 64, 83);
  text-align: center;
  font-size: 0.8rem;
  padding: 5px;
  box-sizing: border-box;
  color: #fbbfc5;
  font-weight: bold;
}

.foodAndWaterCells {
  width: 499.4px;
  height: 296px;
  margin: 10px 0 5px 30px;
  float: left;
  background: rgb(177, 177, 177);
  overflow-y: scroll;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.foodAndWaterCell {
  box-sizing: border-box;
  width: 140.8px;
  background: #dcbfbf;
  float: left;
  height: 128px;
  margin: 10px;
  border: 10px solid rgba(82, 53, 72, 0.63);
  cursor: pointer;
}

.foodAndWaterCell:hover {
  border: 10px solid rgb(255, 12, 91);
}

.activeFoodAndWaterCell {
  border: 10px solid rgb(255, 12, 91);
}

.feedPetBlock {
  width: 790px;
  height: 370px;
  float: left;
}

.interactiveSubBlock {
  background: rgb(177, 177, 177);
  float: right;
  width: 230px;
  height: 296px;
  margin: 10px 0 5px 30px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.interactiveSubBlock button {
  width: 90%;
  margin: 137px auto;
  display: block;
  font-size: 1.5rem;
  padding: 5px;
  color: #dcdcdc;
  background: #b32d48;
  border: 5px solid gainsboro;
  cursor: pointer;
  transition: 1s;
}

.interactiveSubBlock button:hover {
  background: #ff0033;
  box-shadow: 1px 3px 40px -6px rgb(0, 0, 0);
  border: 5px solid #fffdfd;
  color: #ffffff;
}

.interactiveSubBlock h3 {
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: gainsboro;
  background: #b32d48;
}

.interactiveSubBlock p {
  text-align: center;
  margin: 15px;
  background: floralwhite;
  padding: 5px;
}

.backButton {
  display: block;
  margin: auto;
  width: 40%;
  padding: 10px;
  border: 4px solid rgb(177, 177, 177);
  border-radius: 30px;
  background: rgb(146, 146, 146);
  font-weight: bold;
  color: gainsboro;
  cursor: pointer;
  transition: 1.5s;
}

.backButton:hover {
  background: rgb(45, 45, 45);
  border: 4px solid rgb(212, 212, 212);
  color: rgb(212, 212, 212);
  box-shadow: 4px 2px 40px 17px rgba(0,0,0,0.75);
}

.specialisationSpan {
  font-weight: bold;
  background: #fdc320;
  padding: 5px;
  border: 2px solid floralwhite;
  border-radius: 20px;
  color: black;
}

.genderSpan {
  background: rgb(255, 255, 255);
  color: #000000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 4px;
  border: 2px solid #e9d9ff;
  border-radius: 20px;
}

.raritySpan {
  font-weight: bold;
  background: #e4ff08;
  padding: 5px;
  border: 3px solid black;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

.defenseSpan {
  font-size: 1.7rem;
  padding-top: 5px;
  text-align: center;
  width: 37px;
  height: 34px;
  background-color: #4e3b48;
  border-radius: 0 0 140px 140px;
  display: inline-block;
}

.attackSpan {
  display: inline-block;
  background: #73074e;
  width: 40px;
  z-index: 1;
  height: 40px;
  position: relative;
  text-align: center;
  padding-top: 9px;
  margin: 5px;
  border: 2px solid lemonchiffon;
  color: #000000;
  font-size: 1.3rem;
  box-sizing: border-box;
}

.attackSpan:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background: #fffdb5;
  border: 2px solid #fdc320;
  z-index: -1;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.happinessSpan {
  display: block;
  float: right;
  background: rgba(255, 140, 0, 0.29);
  width: 100px;
  height: 20px;
  margin: -6px 10px 0px 10px;
  text-align: center;
  position: relative;
  border: 5px double;
}

.happinessSpan div {
  position: absolute;
  height: 20px;
  background: darkorange;
}

.happinessSpan p {
  font-weight: bold;
  position: absolute;
  width: 100px;
  z-index: 1;
  padding-top: 2px;
  color: #ffffff;
}

.hitPointsSpan {
  font-weight: bold;
  display: block;
  float: right;
  margin: -6px 10px 0px 10px;
  width: 100px;
  height: 20px;
  background: rgba(182, 255, 4, 0.29);
  border: 5px solid rgb(134, 233, 135);
  position: relative;
}

.hitPointsSpan p {
  text-align: center;
  color: black;
  padding-top: 3px;
  position: absolute;
  width: 100px;
  z-index: 1;
}

.hitPointsSpan div {
  background: #b6ff04;
  position: absolute;
  height: 20px;
}

.water-barSpan {
  font-weight: bold;
  width: 50px;
  height: 50px;
  background: cornflowerblue;
  display: block;
  position: relative;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  float: right;
  margin: -20px 5px 0px 10px;
  border: 2px dashed blue;
}

.water-barSpan p {
  z-index: 1;
  position: absolute;
}

.water-barSpan div {
  position: absolute;
  width: 46px;
  background: darkblue;
  bottom: 0;
  box-sizing: border-box;
}

.food-barSpan {
  font-weight: bold;
  width: 50px;
  height: 50px;
  background: rgba(249, 220, 5, 0.32);
  display: block;
  position: relative;
  font-size: 1.2rem;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  float: right;
  margin: -20px 5px 0px 10px;
  border: 2px dashed rgb(99, 86, 95);
  color: rgb(99, 86, 95);
}

.food-barSpan p {
  position: absolute;
  z-index: 1;
}
  
.food-barSpan div {
  width: 46px;
  position: absolute;
  background: #f9dc05;
  bottom: 0;
}

.birthdateSpan {
  font-weight: bold;
  background: bisque;
  padding: 5px;
  border-radius: 30px;
  border: 5px solid #6d5858;
  color: darkslategrey;
}
